@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/Proxima-Nova-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
}

html {
  box-sizing: border-box;
}
body {
  font-family: 'Proxima Nova';
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
